.navigation {
  position: fixed;
  top: 0;
  right: 0;

  width: 660px;
  height: 100%;
  padding-top: 66px;
  padding-left: 55px;
  padding-right: 80px;

  background: #021b34d6;;
  transition: all 0.6s;

}

.navigation.active {
  transform: translateX(660px);
}

.navigation h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 700;
}



